.metro {
	line-height: 0px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
}

.tile {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border: 2px solid #dddddd; 
	margin: 4px;
	background-color: white;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}
.tile:hover{
	border-width: 4px; 
}


.tile > .image {
	position: absolute;
	top: 15px; left: 10px; right: 10px; bottom: 6em;
	/*background: grey;*/
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
}

.tile > .title{
	max-height: 3.2em;
	position: absolute;
	line-height: 1em;
	border-top: 1px solid #dddddd;
	bottom: 1.6em; left: 5px; right: 5px;
	margin-bottom: .2em;
	overflow: hidden;
	padding-top: .2em;
}
.tile:hover > .title{
	left: 3px; right: 3px;
}

.tile > .price-tag{
	height: 1.5em;
	position: absolute;
	bottom: 0%; left: 5px; right: 5px;
	line-height: 1em;
	border-top: 1px solid #dddddd;
	padding-top: .2em;
}
.tile:hover > .price-tag {
	left: 3px; right: 3px;
}

.tile-padding {
	width: 100%;
	margin: 0 0;
	left: 0%;
	display: inline-block;
	position: relative;
}

.col-xs-2 .tile-padding:after {
	padding-top: 100%; /*16:9 ratio*/
	display: block;
	content: '';
}

.col-xs-3 .tile-padding:after {
	padding-top: 123%;
	display: block;
	content: '';
}


.col-xs-4 .tile-padding:after {
	padding-top: 50%; 
	display: block;
	content: '';
}
.col-xs-4 .tile{
	background-position: left;
}

.col-xs-4 .tile-padding.big:after {
	padding-top: 99.7%; 
	display: block;
	content: '';
}

.anchor{display: block; position: relative; top: -32px; visibility: hidden;}


.affix-top{
	z-index: 1000;
}
.affix{
	z-index: 1000;
	position: fixed;
	left:0px; right: 0px; top:-90px;
}

#main-nav {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	
	background-image: url("http://wallpoper.com/images/00/43/41/48/green-lines-texture_00434148.jpg");
	background-repeat: repeat-x;
	background-size: 100% auto;
	padding-left: 4%;
	padding-right: 4%;
	margin: 0px;
}

#search.closed {
	min-height: 0px;
	height: 0px;
	overflow: hidden;
	background-color: #dddddd;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

#search.open{
	height: 122px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
			
	 box-shadow: 0px 10px 30px 1px #000000;
}

div.form-group  {
	padding: 0px 2px;
}
.form-group .form-control {
	border: 0px;
}

body ::selection{
	color: inherit;
}